/*----------------------------前置區------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
*,
*::after,
*::before{
	box-sizing:border-box;
}
img{
    display: block;
}
body{
    font-family: "Roboto", "Noto Sans TC",sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-size:16px;
    font-style: normal;
    line-height: 1.5;
}
/*----------------------------前置區------------------------*/
/*----------------------------nav--------------------------*/
.nav{
    background-color:#AA0601 ;
}
.nav-box-in{
    max-width: 1320px;
    margin: 0 auto;
    padding:0 12px;
    display: flex;
    justify-content: space-between;
}
.nav_1A-img{
    padding: 12px 0;
    max-width: 80px;
}
.nav_1A-img img{
    width: 100%;
}
.nav_1A-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_2A-list{
    padding: 0 32px;
    text-align: center;
}
.nav_2A-list a{
    color:#ffffff;
    font-size: 20px;
    font-weight:300;
}
.nav_2A-list:last-child{
    padding: 0 0 0 32px;
}
/*----------------------------nav--------------------------*/
/*---------------------------header------------------------*/
.header{
    height: 787px;
    background-image: url(img/home-header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-box-in{
    max-width: 1320px;
    margin: 0 auto;
    height: 100%;
    padding:0 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header_1A-article{
    text-align: right;
}
.header_1A-article h2{
    font-size: 36px;
    color:#650300;
}
.header_1A-article h1{
    font-size: 64px;
    line-height: 96px;
    color:#650300;
    font-weight: bold;
}
.header_2A-btn{
    background-color: #AA0601;
    width: 104px;
    height: 41px;
    border: none;
}
.header_3A-btn p{
    color:#ffffff;
    font-size: 20px;
    line-height: 30px;
    font-family:"Noto Sans TC",sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
}
/*---------------------------header------------------------*/
/*---------------------------icon--------------------------*/
.icon{
    background-color:#fbf2f2 ;
}
.icon-box-in{
    max-width: 1320px;
    padding: 80px 0px;
    margin: 0 auto;
}
.icon_1A-title{
    text-align: center;
    font-size: 48px;
    color: #650300;
    font-weight: bold;
}
.icon_1A-icon{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.icon_2A-card1{
    width: 25%;
    padding: 33px 12px 0 12px;
}
.icon_2A-card1 h3{
    text-align: center;
    font-size: 24px;
    color: #650300;
    font-weight: bold;
    padding-bottom: 8px;
}
.icon_2A-card1 p{
    font-size: 16px;
    color: #000000;
}
.icon_3A-img{
    max-width:85px;
    margin: 0 auto;
    padding-bottom: 25px;
}
.icon_3A-img img{
    width: 100%;
}
/*---------------------------icon--------------------------*/
/*---------------------------main--------------------------*/
.main-box-in{
    max-width: 1320px;
    margin: 0 auto;
    padding: 80px 0px;
}
.main_1A-title{
    margin-bottom: 24px;
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    color: #650300;
    font-weight: bold;
}
.main_1A-icon{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.main_2A-card1{
    width: 33.333333%;
    padding: 24px 12px 0 12px;
}
.main_2A-card1 h3{
    text-align: center;
    font-size: 48px;
    color: #AA0601;
    font-weight: 900;
    font-style: italic;
}
.main_3A-img{
    max-width:416px ;
    margin: 0 auto 8px auto;
}
.main_3A-img img{
    width: 100%;
}
/*---------------------------main--------------------------*/
/*--------------------------main2--------------------------*/
.main2{
    background-image: url(img/index-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main2-box-in{
    max-width: 1320px;
    margin: 0 auto;
    padding: 80px 12px 56px 12px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.main2_1A-title{
    margin-bottom: 48px;
    text-align: center;
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
}
.main2_1A-icon{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.main2_2A-card1{
    width: 50%;
    margin-bottom: 24px;
}
.main2_2A-card1 p{
    background-color: #ffffff;
    text-align: center;
    font-size: 48px;
    color: #AA0601;
    font-weight: 900;
    font-style: italic;
    padding: 8px 0;
}
.main2_3A-img{
    max-width:648px;
    height:240px;
}
.main2_3A-img img{
    width:100%;
    height:100%;
    object-fit: cover;
}
/*--------------------------main2--------------------------*/
/*--------------------------main3--------------------------*/
.main3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main3-box-in{
    max-width: 1320px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.main3_1A-title{
    margin-bottom: 48px;
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    color: #650300;
    font-weight: bold;
}
.main3_1A-icon{
    display: flex;
    justify-content: center;
}
.main3_2A-card1{
    max-width: 306px;
    width: 25%;
    margin: 0 12px 24px 12px;
    display: flex;
    flex-direction:column;
    box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.5); ;
}
.main3_3A-img{
    max-width:306px;
    max-height: auto;
}
.main3_3A-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main3_3B{
    padding: 16px;
    display: flex;
    flex-direction:column;
    height: 208px;
}
.main3_3B p{
    padding-bottom: 8px;
    line-height: 24px;
}
.main3_3B p:last-child{
    padding-bottom: 0px;
}
.main3_4A-time{
    margin-top: auto;
    font-size: 14px;
    line-height: 21px;
    color:#707070;
}
/*--------------------------main3--------------------------*/
/*--------------------------form --------------------------*/
.form{
    background-color: #fbf2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box-in{
    max-width: 660px;
    margin: 0 auto;
    padding: 80px 12px;
}
.form_1A-form{
    display: flex;
    flex-direction:column;
}
.form_1A-title{
    text-align: center;
    font-size: 48px;
    color: #650300;
    font-weight: bold;
    margin-bottom: 48px;
}
.form_1A-text{
    font-size: 20px;
    margin-bottom: 24px;
}
.form_2A-text{
    display: block;
}
.form_2A-input{
    width: 100%;
    min-height: 36px;
    margin: 8px auto 16px auto;
}
.form_3A-check{
    width: unset;
    margin: 0 8px 0 0;
    vertical-align: middle;
}
.form_2A-submit{
    display: block;
    max-width: 416px;
    width: 100%;
    height: 56px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #AA0601;
    margin: 48px auto 0 auto;
    cursor: pointer;
    border: none;
}
.form_2A-submit:hover{
    background-color: #650300;
}
/*--------------------------form--------------------------*/
/*------------------------ footer-------------------------*/
.footer{
    background-color: #AA0601;
}
.footer-box-in{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}
.footer_1A-box{
    padding-top: 48px;
    padding-bottom: 32px;
    border-bottom:1px solid #ffffff;
    display: flex;
    justify-content: space-between;
}
.footer_1A-ft-box{
    padding:32px 0 32px 0;
    display: flex;
    justify-content: space-between;
}
.footer_1A-ft-box p{
    line-height: 24px;
    color:#ffffff;
}
.footer_2A-icon-box{
    display: flex;
}
.footer_3A-text-box{
    height: 48px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.footer_3A-text-box p{
    margin-right: clamp(24px,5vw,48px);
}
.footer_3A-phone-box{
    display: flex;
    margin-bottom: 8px;
}
.footer_3A-phone-box p{
    font-size: 36px;
    line-height: 54px;
    color:#ffffff
}
.footer_3A-email-box{
    display: flex;
}
.footer_3A-email-box p{
    font-size: 36px;
    line-height: 54px;
    color:#ffffff
}
.footer_3B-icon-img{
    max-width:48px;
    margin-left: 32px;
}
.footer_3B-icon-img img{
    width:100%;
}
.text-set{
    font-size: 16px;
    color:#ffffff;
}
.icon-set{
    font-size: 48px;
    margin-right: 16px;
    color:#ffffff
}
.footer_2B-text
{   display: flex;
    gap: 48px;
}
.footer_2B-text a{
    display: flex;
    font-size: 14px;
    color:#ffffff;
}
/*------------------------ footer-------------------------*/
@media(max-width:992px){
    .box-in-set{
        max-width: 696px;
    }
    /*-------nav---------*/
    .nav-box-in{
        max-width: 696px;
    }
    /*-------nav---------*/

    /*-------header------*/
    .header{        
        background-image: url(img/home-header-sm.png);
    }
    .header-box-in{
        max-width: 696px;
    }
    /*-------header------*/

    /*-------icon--------*/
    .icon-box-in{
        max-width: 696px;
    }
    .icon_2A-card1{
        width: 50%;
    }
    /*-------icon--------*/

    /*-------main1-------*/
    .main-box-in{
        max-width: 720px;
    }
    .main_2A-card1{
        width: 100%;
    }
    .main_2A-card1 p{
        font-size:48px;
    }
    .main_3A-img{
        max-width:336px ;
    }
    /*-------main1-------*/

    /*-------main2-------*/
    .main2{
        background-image: url(img/index-bg-sm.png);
    }
    .main2-box-in{
        max-width: 720px;
    }
    .main2_2A-card1{
        width: 100%;
    }
    .main2_3A-img{
        max-width:696px;
    }
    /*-------main2-------*/

    /*-------main3-------*/
    .main3-box-in{
        max-width: 720px;
    }
    .main3_1A-icon{
        flex-wrap:wrap;
    }
    .main3_2A-card1{
        width: 50%;
        max-width:336px;
    }
    .main3_3A-img{
        max-width:336px;
        max-height:306px;
    }
    /*-------main3-------*/

    /*-------form--------*/
    .form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-box-in{
        max-width: 600px;
    }
    .form_1A-text{
        font-size: 16px;
        line-height: 24px;
    }
    .form_1A-title{
        margin-bottom: 24px;
    }
    /*-------form--------*/

    /*-------foote-------*/
    .footer-box-in{
        max-width: 720px;
        padding: 0 12px;
    }
    .footer_3A-text-box p{
        margin-right: clamp(18px,3.5vw,48px);
    }
    .footer_3B-icon-img{
        max-width:40px;
        margin-left: 16px;
    }
    .footer_3B-icon-img img{
        width: 100%;
    }
    .footer_3A-phone-box p{
        font-size: 36px;
    }
    .footer_3A-email-box p{
        font-size: clamp(32px,5vw,36px);
    }
    .text-set{
        font-size: 16px; 
    }
    /*-------foote-------*/
}

@media(max-width:767px){
    /*-------nav-------*/
    .nav-box-in{
        max-width: 100%;
        flex-wrap:wrap;
        padding-right: 0px;
        padding-left: 0px;
    }
    .nav_1A-img{
        width: 100%;
        padding-left: 14px;
    }
    .nav_1A-list{
        flex-wrap:wrap;
        width: 100%;
    }
    .nav_2A-list{
        width: 50%;
        border: 1px solid white;
        padding: 12px 0px;
    }
    .nav_2A-list a{
        font-size: 16px;
        line-height: 24px;
    }
    .nav_2A-list:last-child{
        padding: 12px 0px;
    }
    /*-------nav-------*/

    /*-----header------*/
    .header{
        height: 396px;
        background-image: url(img/home-header-sm.png);
    }
    .header-box-in{
        max-width: 348px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .header_1A-article h2{
        font-size: 16px;
        line-height: 24px;
        color:#650300;
    }
    .header_1A-article h1{
        font-size: 24px;
        line-height: 36px;
        color:#650300;
        font-weight: bold;
    }
    /*-----header------*/

    /*------icon-------*/
    .icon-box-in{
        max-width: 375px;
        padding: 40px 14px;
    }
    
    .icon_1A-title{
        text-align: center;
        font-size: 24px;
        line-height: 36px;
        color: #650300;
        font-weight: bold;
    }
    .icon_2A-card1{
        width: 100%;
        padding: 33px 14px 0 14px;
    }
    .icon_3A-img{
        max-width:100px;
        padding-bottom: 16px;
    }
    /*------icon-------*/

    /*------main-------*/
    .main-box-in{
        max-width: 375px;
        padding: 40px 14px;
    }
    .main_1A-title{
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 0px;
    }
    .main_2A-card1{
        width: 100%;
        padding: 24px 0 0 0;
    }
    .main_3A-img{
        max-width:348px ;
    }
    /*------main-------*/

    /*------main2------*/
    .main2-box-in{
        max-width: 375px;
        padding: 40px 14px 16px 14px;
    }
    .main2{
        background-image: url(img/index-bg-md.png);
    }
    .main2_box-in{
        max-width: 347px;
    }
    .main2_1A-title{
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px;
    }
    .main2_2A-card1{
        width: 100%;
    }
    .main2_2A-card1 p{
        background-color: #ffffff;
        text-align: center;
        font-size: 48px;
        line-height: 72px;
        color: #AA0601;
        font-weight: 900;
        font-family: "Roboto",sans-serif;
        font-style: italic;
        padding: 8px 0;
    }
    .main2_3A-img{
        max-width: 348px;
    }
    /*------main2------*/

    /*------main3------*/
    .main3-box-in{
        max-width: 375px;
        padding: 40px 0;
    }
    .main3_1A-title{
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 36px;
    }
    .main3_2A-card1{
        max-width:347px;
        width: 100%;
    }
    .main3_3A-img{
        max-width:347px;
        max-height: 306px;
    }
    /*------main3------*/

    /*------form-------*/
    .form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-box-in{
        max-width: 375px;
        padding: 40px 14px;
    }
    .form_1A-title{
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px;
    }
    .form_1A-text{
        font-size: 16px;
        line-height: 24px;
    }
    .form_2A-input{
        min-height: 33px;
    }
    .form_2A-submit{
        margin: 24px auto 0 auto;
    }
    /*------form-------*/

    /*-------footer-------*/
    .footer-box-in{
        max-width: 375px;
        padding: 0 14px;
    }
    .footer_1A-box{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .footer_1A-ft-box{
        padding:16px 0 16px 0;
        flex-direction:column;
    }
    .footer_1A-ft-box p{
        margin-bottom: 8px;
    }
    .footer_2B-text{
        flex-direction:column;
        gap: 0px;
    }
    .footer_2B-text a{
        margin-bottom: 8px;
    }
    .footer_3A-text-box{
        display: none;
    }
    .footer_3B-icon-img{
        max-width:24px;
        margin-left:8px;
    }
    .footer_3B-icon-img img{
        width: 100%;
    }
    .icon-set{
        font-size: 24px;
        margin-right: 8px;
        color:#ffffff
    }
    .footer_3A-phone-box p{
        font-size: 16px;
        line-height: 24px;
        color:#ffffff
    }
    .footer_3A-email-box p{
        font-size: 16px;
        line-height: 24px;
        color:#ffffff
    }
}